.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 2rem;

  .middle_dot {
    height: 5px;
    width: 5px;
    background-color: var(--accent);
    border-radius: 100%;
  }

  .project_stack {
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    padding: 0.2rem 0.8rem;
    background-color: var(--gray);
    border-radius: 30px;
    text-align: center;
    display: inline-block;

    p {
      opacity: 0.6;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    h1 {
      font-size: 22px;
      margin: 0px;
      font-weight: 400;
    }

    a {
      color: var(--accent);
    }
  }

  .description {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.6;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    width: 100%;
    height: 50vh;

    .section {
      background-color: var(--gray);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      padding: 1rem;
      overflow-y: scroll;

      scrollbar-color: #c94b2879 transparent;
      scrollbar-width: thin;

      h3 {
        font-size: 14px;
        font-weight: 300;
        opacity: 0.6;
      }

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        h3:last-child {
          opacity: 1;
        }
      }
    }

    .section_2 {
      grid-column-start: 1;
      grid-row-start: 2;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: relative;

      svg {
        position: absolute;
        top: -70px;
        right: -80px;
        width: 200px;
        height: 200px;

        opacity: 0.1;

        path {
        }
      }
    }

    .section_3 {
      grid-row: span 2 / span 2;
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .section_4 {
      grid-column-start: 3;
      grid-row-start: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: relative;
    }

    .section_5 {
      grid-column-start: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: relative;

      overflow-x: hidden;

      svg {
        position: absolute;
        bottom: 0;
        right: -100px;
        width: 302px;
        height: 311px;

        path {
          opacity: 0.3;
        }

        circle {
          transform: translateY(1.5px);
        }
      }
    }
  }
}

.educations_container {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .education_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  .education_dot {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      height: 5px;
      width: 5px;
      background-color: var(--accent);
      border-radius: 100%;
    }
  }

  .education_details {
    h5 {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 3px;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.6;
    }

    .education_details_header {
      display: flex;
      align-items: center;
      gap: 8px;

      h5 {
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        opacity: 0.6;
      }
    }
  }
}

.projects_container {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .project_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .project_dot {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 8px;
      font-weight: 300;
    }
  }

  .project_details {
    .project_details_header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 5px;
      h5,
      a {
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        opacity: 0.6;
      }
    }

    .project_stacks {
      display: flex;
      gap: 7px;
      flex-wrap: wrap;
    }
  }
}

.tech_stacks_header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 8px;

  h5 {
    font-size: 16px;
    font-weight: 300;
  }
}
.role {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.6;
  margin-top: 3px;
  margin-bottom: 5rem;
}

.tech_stacks_container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.location_header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 8px;

  h5 {
    font-size: 16px;
    font-weight: 300;
  }
}

.location_footer {
  .hour {
    font-size: 22px;
    font-weight: 400;
  }
}

.timezone_bars {
  display: flex;
  flex-direction: row;
  margin-top: 0.8rem;
  width: 60%;
  justify-content: space-between;

  div {
    height: 7px;
    width: 1px;
    background-color: var(--white);

    &:nth-child(2n) {
      opacity: 0.3;
    }
  }

  div.active {
    background-color: var(--accent);
    width: 2px;
    opacity: 1;
  }
}

.timezone_intervals {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-top: 0.6rem;
  width: 60%;

  p {
    font-size: 12px;
    font-weight: 300;
  }
}

.now_playing_footer {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
  img {
    width: 33%;
    aspect-ratio: 1/1;
    border-radius: 10px;
  }

  div {
    p {
      font-size: 16px;
      font-weight: 300;

      &:last-child {
        font-size: 14px;
        font-weight: 300;
        opacity: 0.6;
      }
    }
  }
}

/* Large screens (1200px and below) */
@media (max-width: 1200px) {
  .grid_container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    height: 75vh !important;

    .section {
      width: 100%;
    }

    .section_2,
    .section_3,
    .section_4,
    .section_5 {
      grid-row: auto !important;
      grid-column-start: auto !important;
      grid-row-start: auto !important;
    }
  }
}

/* Medium screens (768px and below) */
@media (max-width: 768px) {
  .grid_container {
    display: flex !important;
    flex-direction: column;
    height: auto !important;

    margin-bottom: 30px;

    .section {
      min-height: 300px;
    }
  }
}

/* Small screens (480px and below) */
@media (max-width: 480px) {
  .page {
    padding: 0px 1rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
    margin-bottom: 2rem;
    text-align: left;
    gap: 0.4rem;
  }

  .project_dot {
    p {
      font-size: 10px !important;
      font-weight: 600 !important;
      color: var(--accent);
    }
  }

  .project_details_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2px !important;
    margin-bottom: 10px !important;

    div {
      display: none;
    }
  }

  .timezone_bars {
    justify-content: space-between;
    width: 85% !important;
  }

  .timezone_intervals {
    width: 85% !important;
  }

  .section_5 {
    svg {
      right: -125px !important;
      bottom: 50px !important;
    }
  }

  .now_playing_footer {
    img {
      width: 50%;
    }
  }
}

/* Extra small screens (380px and below) */
@media (max-width: 380px) {
}
